@media only screen and (max-width: 750px) 
{
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    td {
        position: relative; 
        padding-left: 50%;  
        border: black;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        text-align: left;        
    }
    td:nth-of-type(1):before { content: "Escuela"; text-align: center;}
    td:nth-of-type(2):before { content: "Estado y municipio"; text-align: center;}
    td:nth-of-type(3):before { content: "Año Inicial"; text-align: center;}
    td:nth-of-type(4):before { content: "Año Final"; text-align: center;}
    td:nth-of-type(5):before { content: "Dato relevante"; top: 15px; text-align: center;}
}