body{
    background: rgb(8, 64, 107);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    background: rgb(139, 193, 238);
    border: black;
    text-align: center;
}
#Titulo{
    color: white;
    text-align: center;
}